@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
    font-family: Roboto;
} 


nav {
    background: #05b5cf;
    height: 80px;
    width: 100%;
}

section {
    width: 100%;
    height: calc(100vh - 80px);
    background: #eff4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}